@import url("./css/header.css");
@import url("./css/blog.css");
@import url("./css/about.css");
@import url("./css/comment-area.css");
@import url("./css/floating-btn.css");
@import url("./css/footer.css");

* {
    font-family: sans-serif;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: 100vh;
    width: 100%;
}